<app-titulo [titulo]="'Pratos'" [iconClass]="'fa fa-utensil-spoon'" [botaoListar]="true">
</app-titulo>
<body>
<div class="container-fluid">
   <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="bsConfig" />
   <ul class="list-group">
      <li class="list-group-item">
         <div class="row">
            <div class="col-9">
               <p></p>
               batata doce assada na fogueira é muito bom e eu gosto muito
               <p></p>
               R$ 15,00
            </div>
            <div class="col-3">
               <img src=>
               <img src="https://localhost:5001/Resources/ImagePrato/i3.jpg" class="img-fluid" />
            </div>
         </div>
      </li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item"></li> <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>

   </ul>
</div>


   <router-outlet></router-outlet>

</body>
