<app-titulo [titulo]="'Cardápio Digital'"></app-titulo>
<div class="container-fluid">
   <!-- barra pesquisa-->
   <div class="card rounded shadow-sm p-3">
      <div class="d-flex">
         <div class="flex-fill pr-3">
            <div class="input-group mb-2">
               <div class="input-group-prepend">
                  <div class="input-group-text">Filtro</div>
               </div>
               <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="filtroListaRest"
                  placeholder="Filtrar por Nome"
               />
            </div>
         </div>
         </div>



                  
         <tbody *ngIf="restaurantes.length">
            <tr *ngFor="let rest of restFilter"  style="cursor: pointer">         

               <div class="container">
                  <div class="wrap">
                  <div class="row">
                  
                     <div class="col-11">
           
               <div class="ico-wrap">
             
               </div>
               <div class="text-wrap vleft">
                  
                    
                     
                  
                  <p class="mbr-fonts-style text1 mbr-text display-6"><img
                     [src]="retornaImagem(rest.imagemURL)"
                     [collapse]="!exibirImg"
                     [isAnimated]="true"
                     [style.width.px]="150"
                     [style.margin.px]="0"
                     alt="Foto do Restaurante"
                  />
                  <td
                     class="mbr-fonts-style text1 mbr-text display-6"
                  >
                     {{ rest.nome }}
                  </td>
          
                  <div class="mbr-fonts-style text1 mbr-text display-5"
                     >
                     Endereço: {{ rest.local     }}
                     Tipo: {{ rest.tipo }}  Avaliação:
                     {{  rest.garfos  }}  Telefone: {{  rest.telefone }}
                  </div>
                 
               
               </div>
            </div>
            <div class="col-1">
               <app-titulo [iconClass]="'fa fa-utensil-spoon'"   (click)="pratos()"  >
                 
               </app-titulo>
               <app-titulo [iconClass]="'fa fa-wine-bottle'"  (click)="bebidas()" >

               </app-titulo>
               </div>
            
               </div>
               
            </div>

            
         </div>
         

